/*General*/

html, html a {
  -webkit-font-smoothing: antialiased!important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Akzidenz";
  background: #ebebeb;
}

h1, h2, p {
  margin: 0;
}

/*Classes Added Via JS*/

.no-smoothing {
  -webkit-font-smoothing: auto!important;
}

/*Header*/

#header {
  padding: 14px 0px;
  text-align: center;
  background: #00413f;
}

#header h1 {
  font-size: 17px;
  color: #00e0b8;
}

#header p {
  position: absolute;
  right: 25px;
  top: 19px;
  font-family: "AvantGardeGothic";
  font-size: 12px;
  color: #ffffff;
}

.arrow {
  color: #00e0b8;
}

/*Hero Container*/

#hero {
  background: #00e0b8;
  background-image: url('../img/background-dots.png');
  background-repeat: repeat-x;
  padding-top: 50px;
  padding-bottom: 57px;
}

.hero-container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.hero-container img {
  display: block;
  margin: 0 auto;
}

/*Hero Information*/

.wpd-information{
  margin: 21px 0 21px 0;
  font-family: "AvantGardeGothic";
  color: #00403f;
}

.date {
  float: left;
  margin: 0 10px 0 36px;
  padding-right: 9px;
  border-right: 2px solid #009e99;
}

.date h2 {
  font-size: 14.22px;
}

.date h1 {
  font-size: 26px;
}

.tagline {
  padding-top: 1px;
}

.tagline h1 {
  font-size: 17px;
}

/*Hero Email Field*/

div.mc-field-group input {
  width: 245px;
  height: 42px;
  float: left;
  padding-left: 11px;
  font-family: Arial;
  font-size: 14px;
  color: #999999;
  border: none;
  outline: none;
  background: white;
  -webkit-font-smoothing: antialiased;
}

input.button {
  width: 93px;
  height: 44px;
  font-family: "Akzidenz";
  font-size: 14.5px;
  color: #ffffff;
  border: none;
  outline: none;
  background: #ff6943;
  -webkit-font-smoothing: antialiased;
}

/*Hero Social Buttons*/

.social-buttons {
  margin-top: 13px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.facebook-share {
  display: inline-block;
  margin-right: 6px;
  padding: 12px 19.5px;
  background: #4c63ea;
}

.twitter-share {
  display: inline-block;
  padding: 12px 30px;
  background: #46a1ff;
}

/*Organizers*/

#organizers {
  background: #ffffff;
  text-align: center;
}

#organizers img {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: -3px;
}

#organizers p {
  display: inline-block;
  margin-right: 35px;
  vertical-align: 23px;
  font-family: "AvantGardeGothic";
  font-size: 14px;
  color: #00403f;
}

/*Hangouts*/

#hangouts {
  text-align: center;
  font-size: 0; /*fix inline-block margins*/
  color: #ffffff;
}

#hangouts > h1 {
  padding: 18px 0px 20px 0px;
  font-size: 17px;
  color: #333333;
}

#katherine-heigl {
  background: #ea00bd;
}

#rachel-ray {
  background: #caa500;
}

#wendy-diamond {
  background: #ff6971;
}

/*Ambassador*/

.ambassador {
  display: inline-block;
  width: 33.333333%;
  text-align: left;
}

.ambassador img {
  border-radius: 100%;
  float: left;
  padding: 11px;
}

.ambassador h1, .ambassador h2, .ambassador p {
  padding: 0 15px 0 11px;
  font-family: "AkzidenzNormal";
  font-size: 14px;
}

.ambassador h1 {
  margin-top: 33px;
  font-family: "Akzidenz";
}

.ambassador p {
  margin: 8px 0 15px 0;
}

/*Hangout Button*/

.hangout-button {
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 28px;
  width: 341px;
  padding: 2.5px 0;
  background: #f63324;
}

.hangout-button h1 {
  vertical-align: 30%;
  padding-left: 10px;
  padding-right: 6px;
  font-family: "Akzidenz";
  font-size: 14px;
}

.hangout-button h2 {
  font-family: "AkzidenzNormal";
  font-size: 32px;
  font-weight: normal;
}

.hangout-button p {
  vertical-align: 30%;
  padding-left: 6px;
  border-left: 1px solid #ffffff;
  font-family: "AkzidenzNormal";
  font-size: 14px;
}

.hangout-button p, .hangout-button h1, .hangout-button h2 {
  display: inline-block;
}

/*Footer*/

#footer {
  text-align: center;
}

#footer p {
  padding: 12.5px 0;
  font-family: Arial;
  font-size: 10px;
  color: #666666;
  background: #ffffff;
}
