/*General*/

html, html a {
  -webkit-font-smoothing: antialiased!important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Akzidenz";
  background: #ebebeb;
}

h1, h2, p {
  margin: 0;
}

input {
  padding: 0;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

/*Classes Added Via JS*/

.no-smoothing {
  -webkit-font-smoothing: auto!important;
}

/*Header*/

#header {
  padding: 14px 0px;
  text-align: center;
  background: #00413f;
}

#header h1 {
  padding: 0 10px;
  font-size: 17px;
  color: #00e0b8;
}

.facebook-like {
  position: absolute!important;
  right: 25px;
  top: 13px;
}

/*Hero Container*/

#hero {
  background: #00e0b8;
  background-image: url('../img/background-dots.png');
  background-size: 1024px 272px;
  background-repeat: repeat-x;
  padding-top: 50px;
  padding-bottom: 57px;
}

#hero-wrapper {
  max-width: 360px;
  margin: 0 auto;
}

.hero-container {
  margin: 0 10px;
}

/*Hero Information*/

.hero-container img {
  width: 100%;
}

.wpd-information {
  margin-top: 19px;
  margin-bottom: 20px;
  font-family: "AvantGardeGothic";
  color: #00403f;
}

.date {
  float: left;
  margin-left: 30px;
  margin-right: 9px;
  padding-right: 9px;
  border-right: 2px solid #009e99;
}

.date h2 {
  font-size: 14.22px;
}

.date h1 {
  font-size: 26px;
  margin-bottom: -3px;
}

.tagline h1 {
  font-size: 19px;
}

/*Hero Email Field*/

div.mc-field-group input {
  width: 242px;
  height: 44px;
  float: left;
  padding-left: 10px;
  font-family: Arial;
  color: #999999;
  background: #ffffff;
}

input.button {
  width: 88px;
  height: 44px;
  font-family: "Akzidenz";
  color: #ffffff;
  background: #ff6943;
  transition: background 0.4s;
}

input.button:hover {
  background: #ff704d;
}

/*Share Buttons*/

.break {
  display: none;
}

.social-buttons {
  margin-top: 13px;
  font-size: 0;
  color: #ffffff;
  text-align: center;
}

.facebook-share {
  display: inline-block;
  width: 165px;
  padding: 12px 0;
  margin-right: 10px;
  font-size: 14px;
  background: #4c63ea;
  transition: background 0.4s;
}

.facebook-share:hover {
  background: #4f68f7;
}

.twitter-share {
  display: inline-block;
  width: 165px;
  padding: 12px 0;
  font-size: 14px;
  background: #46a1ff;
  transition: background 0.4s;
}

.twitter-share:hover {
  background: #52a8ff;
}

/*Organizers*/

#organizers {
  background: #ffffff;
  text-align: center;
}

#organizers img {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: -3px;
}

#organizers p {
  display: inline-block;
  margin: 0 35px;
  vertical-align: 23px;
  font-family: "AvantGardeGothic";
  font-size: 14px;
  color: #00403f;
}

.socialgood-logo img {
  width: 87px;
}

.klooff-logo img {
  width: 67px;
}

.public-logo img {
  width: 79px;
}

/*Hangouts*/

#hangouts {
  text-align: center;
  font-size: 0;
  color: #ffffff;
}

#hangouts > h1 {
  padding: 18px 10px 20px 10px;
  font-size: 17px;
  color: #333333;
}

#katherine-heigl {
  background: #e900bd;
}

#rachel-ray {
  background: #cd9e00;
}

#wendy-diamond {
  background: #ff6971;
}

#jay-z {
  background: #ff7300;
}

#beyonce {
  background: #ff4600;
}

#ryan-gosling {
  background: #729c14;
}

/*Ambassador*/

.ambassador {
  display: inline-block;
  width: 33.333333%;
  text-align: left;
}

.ambassador img {
  border-radius: 100%;
  float: left;
  padding: 11px;
}

.ambassador h1, .ambassador h2, .ambassador p {
  padding: 0 15px 0 0;
  font-family: "AkzidenzNormal";
  font-size: 14px;
}

.ambassador h1 {
  margin-top: 33px;
  font-family: "Akzidenz";
}

.ambassador p {
  display: flex;
  margin: 8px 0 25px 0;
}

/*Hangout Button*/

.hangout-button {
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 28px;
  width: 340px;
  padding: 2.5px 0;
  background: #f63324;
  color: #ffffff;
}

.hangout-info {
  display: inline-block;
}

.hangout-button h1 {
  display: inline-block;
  vertical-align: 30%;
  padding-left: 10px;
  padding-right: 6px;
  font-family: "Akzidenz";
  font-size: 14px;
}

.hangout-button h2 {
  display: inline-block;
  font-family: "AkzidenzNormal";
  font-size: 32px;
  font-weight: normal;
}

.hangout-button p {
  display: inline-block;
  vertical-align: 30%;
  padding-left: 6px;
  border-left: 1px solid #ffffff;
  font-family: "AkzidenzNormal";
  font-size: 14px;
}

#hangout-line {
  display: none;
}

/*Footer*/

#footer {
  text-align: center;
}

#footer p {
  padding: 8px 5px;
  padding-bottom: 25px;
  background: #ffffff; 
}

#footer p, .creative-commons span, .creative-commons a {
  font-family: Arial;
  font-size: 10px;
  color: #666666;  
}

.creative-commons {
  padding: 18px 5px 0 5px;
  background: #ffffff;
}

.creative-commons a:last-child {
  text-decoration: underline;
  color: #666666;
}
