/**********************************************************
Tablets
***********************************************************/

@media screen and (max-width: 1080px) {

  /*Hangouts*/

  .ambassador {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {

  /*Header*/

  .facebook-like {
    position: relative!important;
    right: 0;
    top: 0;
    float: right;
    padding-top: 26px;
    padding-right: 12px;
  }

@media screen and (max-width: 700px) {

  /*Hangouts*/

  #hangouts {
    margin: 0 10px;
    color: #333333;
  }

  .ambassador {
    width: 100%;
  }

  .ambassador {
    background: #ffffff!important;
    margin-bottom: 3px;
  }
}

/**********************************************************
All Phones
***********************************************************/

@media screen and (max-width: 480px) {

  /*Organizing Partners*/

  #organizers {
    padding: 0 10px;
  }

  #organizers p {
    display: block;
    padding-top: 20px;
    margin: 0;  
  }

  #organizers img {
    margin-right: 7%;
  }

  .public-logo img {
    margin-right: 0!important;
  }

  /*Hangouts*/

  .ambassador img {
    width: 80px;
  }

  .ambassador h1 {
    margin-top: 20px;
  }

  .hangout-button {
    width: inherit;
    padding: 13.5px 0;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .hangout-button p {
    display: block;
    border-left: none;
    font-size: 15px;
  }

  .hangout-button h1 {
    display: block;
    font-size: 20px;
  }

  .hangout-button h2 {
    font-size: 45px;
    padding-right: 10px;
  }

  #hangout-at {
    display: none;
  }

  #hangout-line {
    display: inline;
  }
}

/**********************************************************
iPhone
***********************************************************/

@media screen and (max-width: 360px) {

  /*Hero*/

  #hero {
    padding-top: 70px;
    padding-bottom: 45px;
  }

  .wpd-information {
    margin-bottom: 30px;
  }

  .date {
    margin-left: 15px;
  }

  /*Email Field*/

  div.mc-field-group {
    margin: 0 4px;
  }

  div.clear {
    margin: 0 4px;
  }

  div.mc-field-group input {
    float: none;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  input.button {
    width: 100%;
    margin-top: 7.5px;
  }

  /*Share Buttons*/

  .break {
    display: inline;
  }

  .social-buttons {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 18px;
  }

  .facebook-share {
    margin-right: 0;
    width: 50%;
    padding: 10px 0;
  }

  .twitter-share {
    width: 50%;
    padding: 10px 0;
  }

  /*Hangouts*/

  .ambassador p {
    padding-left: 102px;
  }
}





















